.DS_Store
*.pyc
*.egg-info
ve
pip-log.txt
*~
*#
*.#*
*.sw[op]
node/
docs/build

.project
.pydevproject
.settings/
.cache/
.pip-download-cache/
storyville/conf/local_releases.py
.coverage
nosetests.xml
*.orig
coverage.xml
pylint.properties
pylint.txt
pylintrcs
solr/solr/*/data
