{#lib/corkscrew/templates/base_style_and_js.html#}
{%block base_style_and_js%}
<script type="text/javascript" src="/static/js/anylink/anylinkmenu.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/anylink/anylinkmenu.css" />

<link type="text/css" href="/static/js/dropdowntab/halfmoontabs.css" rel="stylesheet" media="screen" />

<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
<script src="/static/js/jquery.min.js"></script> {#1.5.2#}
<script src="/static/js/jquery-ui.min.js"></script> {#1.8.12#}
<script src="/static/js/jquery.redirect.min.js"></script>
<script type="text/javascript" src="/static/js/prettyprint.js"></script>
<script type="text/javascript" src="/static/js/dropdowntab/dropdowntabs.js"></script>

{#TODO: .ini settings to control this include #}{%include "modal_style_and_js.html" %}
{%include "extra_js_and_css.html"%}

<style>{%include "corkscrew_base_style.css"%}</style>
<script>{%include "javascript/corkscrew_base.js"%}</script>
{%endblock%}
